name: Update Cloudflare DNS

on:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"  # 每小时执行一次

jobs:
  update-dns:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: pip install requests

      - name: Run Cloudflare update script
        env:
          CF_TOKEN_1: ${{ secrets.CF_TOKEN_1 }}
          CF_TOKEN_2: ${{ secrets.CF_TOKEN_2 }}
          CF_TOKEN_3: ${{ secrets.CF_TOKEN_3 }}
          CF_TOKEN_4: ${{ secrets.CF_TOKEN_4 }}
        run: python output/data/cf_update.py
